# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pdb
*.ilk

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
#*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
# *.exe
*.out
*.app

# Android
*.iml
.gradle
.DS_Store
TP1109ChatAndroidApp/build
TP1109ChatAndroidApp/captures
.externalNativeBuild
.cxx
local.properties
TP1109ChatAndroidApp/app/release
TP1109ChatAndroidApp/gradle/wrapper/*

# Other
copilot-chat
CopilotIndices
Browse.VC.db
out
ipch
*.ipch
.cache
bin
FileContentIndex
ProjectEvaluation
*cache.v2
packages
obj
node_modules
